[submodule "MoonRuntime/Libraries/glm"]
	path = MoonRuntime/Libraries/glm
	url = https://github.com/g-truc/glm
[submodule "MoonRuntime/Libraries/glfw"]
	path = MoonRuntime/Libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "MoonRuntime/Libraries/fastnoiselite"]
	path = MoonRuntime/Libraries/fastnoiselite
	url = https://github.com/Auburn/FastNoiseLite
[submodule "MoonRuntime/Libraries/imgui"]
	path = MoonRuntime/Libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "MoonRuntime/Libraries/stb"]
	path = MoonRuntime/Libraries/stb
	url = https://github.com/nothings/stb
